{
  "presets": ["next/babel"],
  "plugins": [
    [
      "styled-components",
      {
        "ssr": true,
        "displayName": true,
        "preprocess": false
      }
    ],
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@": "./src",
          "@components": "./src/components"
        },
        "extensions": [".js", ".jsx", ".tsx"]
      }
    ]
  ]
}
